<div class="header-wrapper">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center px-4">
            <div class="logo">
                <a href="/">
                    <span>
                        <img src="../../../assets/images/logo.png" alt="Logo" title="Logo"/>
                    </span>
                </a>
            </div>
            <div class="company-name">  
                <a href="/home">
                    SYNTHETIC DATA ANIME GENERATOR
                </a>
            </div>
            <ul class="nav-menu mb-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">
                        ModelGenerator
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/imageGenerator">
                        ImageGenerator
                    </a>
                </li>
            </ul>
        </div>  
    </div>
</div>