.modal-body{
    padding-bottom: 3px;
    height: 202px;
    overflow: scroll;
    .que-ans{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        .question{
            margin-bottom: 5px;
        }
        .icon{
            border: 1px solid;
            border-radius: 4px;
            padding: 1.2px 2px;
            margin-right: 8px;
            font-size: 9px;
        }

    }
}
.modal-body{
    padding-bottom: 3px;
    height: 202px;
    overflow: scroll;

    .que-ans{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        .question{
            margin-bottom: 5px;
        }
        .icon{
            border: 1px solid;
            border-radius: 4px;
            padding: 1.2px 2px;
            margin-right: 8px;
            font-size: 9px;
        }

    }
}